.hobby {
    padding: 0 10px;
    list-style: none; 
}

.hobby li {
    margin-bottom: 10px;
    border-bottom: 1px solid white;  
}

.table {
    padding: 0 10px;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2), .table td:nth-child(3) {
 padding-left: 30px;
 color: #000000;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group{
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50%-20px); */
}

.form-row .form-group:last-child {
    margin-right: 0;
}

@media (max-width: 650px) {
    .form-row {
        margin-bottom: 10px;
        display: block; }
}
.form-row .form-group {
    width:100%;
    margin-right: 0;
    margin-bottom: 10px;
}

.form h2{
 text-align: center;
 padding-bottom: 20px;
}

.form-group label {
display: block;
font-size: 14px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}